<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "css/pure-min.css" %}'>    
    <link rel="stylesheet" href='{% static "css/marketing.css" %}'>    
    <link rel="stylesheet" href='{% static "css/site-style.css" %}'>    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="{% static 'js/maps.js' %}"></script>
   <link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'> </head>
<body>
{% autoescape off %}
<a name="home"></a>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#clp">Call For Papers</a></li>
                <li><a href="#keynotes">Keynote Speakers</a></li>
                <li><a href="#about">About us</a></li>
                <li><a href="#getThere">Getting There</a></li>
                <li><a href="#register">Register</a></li>
            </ul>
        </div>
    </div>
      
    <div class="splash-container" id="yui_3_14_1_1_1390926711441_8">
        <div class="splash">
            <h1><a name="home">Imagine There's No Humanities<a/></h1>
                <p class="splash-subhead">
                Take part in conference, Warsaw 27-28 November 2014
                </p>
            <p>
                <a href="#register" class="pure-button pure-button-primary">Register</a>
            </p>
        </div>
  </div>
    
  <div class="content-wrapper"> <a name="clp"></a>
      <div class="content">
            <h2 class="content-head is-center">Call for Papers</h2>
             {{ clp.content }}
         
             <a name="keynotes"></a>
             <p></p>
             <p></p>
        </div>
      
        <div class="content">
            <h2 class="content-head is-center">{{ keynotes.title }}</h2>
            {{ keynotes.content }}
            <a name="about"></a> <p></p><p></p>
        </div>
        
        <div class="content">
            
            <h2 class="content-head is-center">{{about.title}}</h2>
            <p> {{ about.content }} </p>
         
             <a name="getThere"></a> <p></p><p></p>
        </div>
       
        <div class="content">
               <h2 class="content-head is-center">Getting there</h2>
               <div class="pure-g">
                   <div class="l-box-lrg pure-u-1-2"> 
                        <div class="content" id="map-canvas">
                        </div>
                    </div>
                    <div class="pure-u-1-2">
                        <h4> {{ gettingThere.title}}</h4>
                        {{ gettingThere.content }}
                        <div>
                        <button id="directions" class="pure-button pure-button-primary is-center">
                            How far is it?
                        </button>
                        <div id="directionsOutput">
                        </div>
                        </div>
                    </div>
                </div>
               <a name="register"></a> <p></p><p></p>
        </div>
        
        <div class="content">
            <h2 class="content-head is-center">Register</h2>
            <div class="pure-g">
                <div id="form-box" class="l-box-lrg pure-u-1 pure-u-med-2-5">
                    <form id="abstract-form" class="pure-form pure-form-stacked" action='' method="post">{% csrf_token %}
                        <legend> Registration Form </legend>
                        <fieldset>   
                            {% for field in form %}
                            <label> {{field.label}}</label>
                            {{field}}
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                            {% endfor %}
                        <input type="submit" value="Submit" class="pure-button" id="submitAbstract">
                        </fieldset>
                    </form>
                 </div>


                <div class="l-box-lrg pure-u-1 pure-u-med-2-5">
                    <h4> {{ technical.title }} </h4>
                    {{ technical.content }}
                </div>
            </div>
         </div>
     </div>
{% endautoescape %}
</body>
</html>
