<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "pure-min.css" %}'>    
    <link rel="stylesheet" href='{% static "marketing.css" %}'>    
    </head>
<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">Conference</a>

            <ul>
                <li class="pure-menu-selected"><a href="#">Call for Papers</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">How to get there</a></li>
                <li><a href="#">Submissions</a></li>
            </ul>
        </div>
    </div>
    <div class="splash-container" id="yui_3_14_1_1_1390926711441_8">
        <div class="splash">
            <h1>Big Bold Text</h1>
            <p class="splash-subhead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <p>
                <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
            </p>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="content">
        <p> Hello world </p>
    </div>
    </div>

</body>
</html>
