<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" href='{% static "css/pure-min.css" %}'>    
    <link rel="stylesheet" href='{% static "css/side-menu.css" %}'>    
    <link rel="stylesheet" href='{% static "css/site-style.css" %}'>    
    </head>
<body>
    <script src="{% static 'js/ui.js' %}"></script>
    <div id="layout">
    <a href="#menu" id="menuLink" class="menu-link"><span></span></a>
        <div id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading" href="/">BackToFront</a>

                <ul>
                    <li><a href="/admin">Admin Home</a></li>
                    <li><a href="/admin/abstracts">Abstracts</a></li>

                    <li>
                        <a href="/admin/posts">Posts</a>
                    </li>

                    <li><a href="/admin/logout">Log Out</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
                {% block content %}{% endblock %}
                   </div>
    </div>
    <script src="{% static 'js/ui.js' %}"></script>
</body>
</html>
