{% extends "layout.html" %}

{% block content %}
<div class="header">
    <h3>Posts</h3>
</div>
<div class="content">
    {% for post in posts %}
    <p><a href="{{post.id}}"> {{ post.title }} </a> </p>
    {% endfor %}
    <script type="text/template" id="newPost">
    <form action="" method="post">
    {% for field in form %}
        <label> field.label </label>
        {{field }}
    {% endfor %}
    <input type="submit" value="add">
    </script>
    {% load static %}
    <script src="{% static 'js/posts.js' %}"></script>
    {% endblock %}
</div>
